.product_item {
   border-radius: 4px;
    border: 1px solid #B5B3B3;
    margin-bottom: 15px;
    padding: 10px;
    min-height: 135px;
}

.product_item .title {
   font-size: 21px;
}

.productListFilterDvider {
    margin-top: 0
}

.adItem {
    width: 170px;
    padding-left: 10px;
}